@import '../../variables.scss';
@import '../../utility.scss';

.form {
    margin: auto;
    border: 1px solid $primaryColor;
    margin-top: 8%;
    border-radius:  16px;
    display: flex;
    flex-direction: column;
    align-items:center;

    @include useMobile {
        margin-top: 32%;
        width: 90%;
    }

    @include useTablet {
        width: 72%;
    } 
    @include useDesktopSmall {
        width: 72%;
    } 
    @include useDesktopLarge {
       
        width: 50%;
    }
}

.heading {
    @extend .title;
    margin: 24px 24px 8px 24px;
}

.description{
    @extend .text;
    margin: 16px 24px 16px 24px;
    text-align: center;

    @include useMobile {
        width: 90%;
    }
}

.email {
    font-family: $fontStack;
    color: $fontColor;
    font-weight: $fontMedium;
    margin: 4%;
    letter-spacing: 0.2px;
    width: 320px;
    border: 1px solid $fontColor;
    width: 320px;
    height: 40px;
    border-radius: 16px;
    text-indent: 10px;

    @include useMobile {
      width: 264px;
      margin: 4% 6%;
    }

    @include useTablet {
        width: 264px;
        margin: 4%;
    } 

    @include useDesktopSmall {
        margin: 2%;
    }

    @include useDesktopLarge {
        margin: 2%;
    }
    
}

.reset-button {
    display: block;
    margin: 4%;
    padding: 12px;
    color: $navItemsColor;
    font-family: $fontStack;
    font-weight: $fontSemiBold;
    border-radius: 24px;
    background-color: $ctaColor;
    width: 20%;
    font-size: 16px;
    letter-spacing: 0.5px;
    cursor: pointer;

    @include useMobile {
        margin: 4% 8%;
        width: 32%;
    }

    @include useDesktopSmall {
        margin: 2%;
    }

    @include useDesktopLarge {
        margin: 2%;
    }
}

