@import '../../variables.scss';
@import '../../utility.scss';

.title {
    font-family: $fontStack;
    color: $fontColor;
    text-align: center;
    font-weight: $fontSemiBold;
    font-size: 24px;

    @include useMobile {
        margin-top: 72px;
    }

    @include useTablet {
        margin-top: 72px;
    }
    
    @include useDesktopSmall {
        margin-top: 72px;
    }
    @include useDesktopLarge {
        margin-top: 72px;
    }
}

.logo-container {
    margin: 4% auto;
    height: 620px;
    width: 1000px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include useMobile {
        width: 281px;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: auto;
        height: auto;
    }

    @include useTablet {
        width: 754px;
    }

    @include useDesktopSmall {
        width: 754px;
    }
}

.logo-box {
    height: 256px;
    width: 256px;
    margin: 0 4%;
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        margin: auto 0; 
    }

    p {
        margin: 16px 0; 
        color: $fontColor;
        font-family: $fontStack;
        font-weight: $fontMedium;
        letter-spacing: 0.2px;
    }
}


.logo-box:first-of-type {
    img {
        height: 75%;
        width: 85%; 
    }
}

.logo-box:nth-of-type(2) {
    img {
        height: 35%;
    }
}

.logo-box:nth-of-type(3) {
    img {
        height: 45%;
    }
}

.logo-box:nth-of-type(4) {
    img {
        height: 60%;
    }
}






