@import '../../variables.scss';
@import '../../utility.scss';

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include useMobile {
        flex-direction: column;
    }

    @include useDesktopLarge {
        justify-content: space-evenly;
    }

    @include useTablet {

    }
    @include useDesktopSmall {
        justify-content: space-evenly;
    }
}
.heading {
    @extend .title;
    margin-bottom: 32px;
    display: inline-block;

    @include useMobile {
        order: 2;
    }

    @include useTablet {

    }
}

.description-container {
    @include useMobile {
        width: 324px;
        order: 3;
        margin: 0 0 0 8%;
    }

    @include useDesktopLarge {
        height: 200px;
        width: 600px;
        margin: 8% 0 0 8%;
        } 
        
        @include useTablet {
            margin: 8% 0 0 8%;
        }
        @include useDesktopSmall {
            height: 200px;
            width: 600px;
            margin: 8% 0 0 0;
        }
}
.description {
    @extend .text;
    line-height: 32px;

    @include useMobile {
        width: 100%;
        font-size: 16px;
    }
    @include useTablet {
        width: 60%;
    }
}

.img {
    height: 400px;
    width: 500px;
    margin: 4% 4% 16% 5%;

    @include useMobile {
        height: 200px;
        width: 300px;
        order: 1;
       /*  margin: 4% 4% 8% 4%; */
       margin: auto;
    }
    @include useTablet {
        height: 200px;
        width: 200px;
        margin: -38% 70%;
    }

    @include useDesktopLarge {
        margin: 4%;
    }

    @include useDesktopSmall {
        height: 250px;
        width: 260px;
        margin: 4% 0 4% 4%;
    }
}

.logo-container {
    @include useMobile {
        margin-top:8% auto;
        order: 4;
    }

    @include useDesktopLarge {
        width: 800px;
    }

    @include useTablet {
        margin: 8%;
    }
    @include useDesktopSmall {
        width: 800px;
    }

}

.logo {
    @include useMobile {
        width: 50%;
        height: 50%;
        order: 4; 
        margin: 12% 12% 8% 24%;
    }

    @include useDesktopLarge {
        margin-top: 4%;
        margin-left: 20%;
    }

    @include useTablet {

    }
    @include useDesktopSmall {
        margin-top: 16%;
        margin-left: 0%;
    }
}

.policies-container {
    @include useDesktopLarge {
      margin: auto;
      height: 200px;
      width: 500px;
    }

    @include useMobile {
        order: 5;
        margin-top: 16%;
    }

    @include useTablet {
      margin: 4% 0 0 8%;
    }
    @include useDesktopSmall {
        margin: -16% 0 0 64%;
        height: 200px;
        width: 500px;
    }
}

.policies-title {
    @extend .title; 
    
    @include useMobile { 
    text-align: left;
    margin: 8% 8% 6%;
    order: 5;
    }

    @include useTablet {
        margin: 0 5% 8% 8%; 
    }
    @include useDesktopSmall {
        margin: 0 5% 8% 8%;
    }

    @include useDesktopLarge {
        margin: 0 5% 8% 8%;
    } 
}

.policies {
    li {
        @extend .text;
        margin: 2% 4% 4% 10%;
        line-height: 16px;

        @include useMobile {
            font-size: 12px;
            letter-spacing: 0.5px;
            order: 5;
        }

        @include useTablet {

        }
        @include useDesktopSmall {
            margin: 2% 4% 4% 10%;
            line-height: 16px;
        }
 
    }
}

.customer-satisfaction-container {
    @include useDesktopLarge {
        margin-left: 8%;
        height: 200px;
        width: 600px;
        margin: 8% 0 0 8%;
    }

    @include useMobile {
        order: 7;
    }
    @include useTablet {
        margin-left: 8%;
    }
    @include useDesktopSmall {
        margin-left: 8%;
        height: 200px;
        width: 600px;
        margin: 8% 0 0 -8%;
    }
}

.customer-satisfaction-title {
    @extend .title;

    @include useDesktopLarge {
        margin: 8% 5% 2% 0%;
    }
    @include useMobile {
        order: 8;
        margin-left: 8%;
    }
    @include useTablet {
        margin: 4% 5% 2% 0%;
    }
    @include useDesktopSmall {
        margin: 4% 5% 2% 0%;
    }
}

.customer-satisfaction-description {
    @extend .text;
    line-height: 32px;

    @include useMobile {
        order: 9;
        margin-top: 8%;
        width: 324px;
        margin-left: 8%;
    }
    @include useTablet {
        width: 56%;
    }
    @include useDesktopSmall {
        width: 64%;
    }
}
.customer-satisfaction-image {
    img {
    
    @include useMobile {
        width: 300px;
        height: 250px;
        margin-left: 8%;
    }

    @include useDesktopLarge {
        width: 500px;
        height: 400px;
        margin-top: 20%;
        margin-left: 0%;
        border-radius: 10%;
    }
    @include useTablet {
        width: 300px;
        height: 250px;
        position: absolute;
        bottom: 10%;
        left: 60%;
    }
    @include useDesktopSmall {
        width: 300px;
        height: 250px;
        position: absolute;
        bottom: -8%;
        left: 60%;
    }
    }
    @include useMobile {
        margin: auto;
        order: 6;
    }
}

.links {
    @extend .text;

    @include useMobile {
        order: 10;
        margin: 4% 0 0 8%;
        line-height: 32px;
    }
    @include useTablet {
        margin: 4% 0 0 0;
    }
    @include useDesktopSmall {
        margin-top: 8%;
    }
    @include useDesktopLarge {
    margin-top: 8%;
    }
}

.footer-container {
  position: relative;
  
  @include useMobile {
      order: 11;
      margin-top: 24%;
  }
  @include useTablet {
    margin-top: 16%;    
  }
  @include useDesktopSmall {
    margin-top: 40%;    
  }
  @include useDesktopLarge {
  margin-top: 12%;
  }
}