@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

$primaryColor: #184778;
$backgroundColor: #ffffff;
$navItemsColor: $backgroundColor;
$fontColor: #707070;
$fontStack: 'Montserrat', sans-serif;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$ctaColor: #3AD3D6;

.title {
    color: $fontColor;
    font-family: $fontStack;
    font-weight: $fontSemiBold;      
}

.text {
    color: $fontColor;
    font-family: $fontStack;
    font-weight: $fontMedium; 
}