@import '../../variables.scss';
@import '../../utility.scss';

.form {
    margin-top: 4%;
    margin-left: 4%;
    border-radius:  16px;
    display: flex;
    flex-direction: column;
    align-items:left;
    height: 100vh;

    @include useMobile {
        margin-top: 8%;
        width: 90%;
    }

    @include useTablet {
        width: 72%;
    } 
    @include useDesktopSmall {
        width: 72%;
    } 
    @include useDesktopLarge {
       width: 50%;
       height: 150vh;
    }
}

.heading {
    @extend .title;
    margin: 24px 24px 8px 24px;
}

.description{
    @extend .text;
    margin: 16px 24px 16px 24px;
    text-align: left;

    @include useMobile {
        width: 90%;
        line-height: 24px;
    }

    @include useTablet {
        line-height: 24px;
    }

    @include useDesktopSmall {
        line-height: 24px;
    }
}

.email {
    font-family: $fontStack;
    color: $fontColor;
    font-weight: $fontMedium;
    margin: 4%;
    letter-spacing: 0.2px;
    width: 320px;
    border: 1px solid $fontColor;
    width: 320px;
    height: 40px;
    border-radius: 16px;
    text-indent: 10px;

    @include useMobile {
      width: 264px;
      margin: 4% 6%;
    }

    @include useTablet {
        width: 264px;
        margin: 4%;
    } 

    @include useDesktopSmall {
        margin: 2%;
    }

    @include useDesktopLarge {
        margin: 2%;
    }
    
}

.password {
    border: 1px solid $fontColor;
    border-radius: 16px;
    width: 320px;
    height: 40px;
    text-indent: 10px;

    @include useMobile {
      width: 264px;
    }
}

.label-email, .label-password {
    @extend .text;
    margin: 4% 4% 0 4%;
    font-weight: $fontSemiBold;

    @include useMobile {
        margin: 4% 4% 0 8%;
    }

    @include useTablet {
        margin: 4% 4% 0 4%;
    }

    @include useDesktopSmall {
        margin: 4% 4% 0 4%;
    }
}

.reset-button {
    display: block;
    margin: 4%;
    padding: 12px;
    color: $navItemsColor;
    font-family: $fontStack;
    font-weight: $fontSemiBold;
    border-radius: 24px;
    background-color: $ctaColor;
    width: 24%;
    font-size: 16px;
    letter-spacing: 0.5px;
    cursor: pointer;

    @include useMobile {
        margin: 4% 8%;
        width: 64%;
    }

    @include useTablet {
        margin: 2%;
        width: 40%;
    }

    @include useDesktopSmall {
        margin: 2%;
        width: 40%;
    }

    @include useDesktopLarge {
        margin: 4%;
        width: 32%;
    }
}

